//- hire.jade
extend layout
block title
  h2.content-title
    div.content-title-first Let's talk
    span.content-title-second 
      span.content-title-second-text business

block content
  form.contact-form.wow.fadeIn(data-wow-duration="1.5s")
    div.input-wrap
      input.contact-input.half.first-name(type="text", placeholder="first name", required)
      input.contact-input.half.last-name(type="text", placeholder="last name", required)
    div.input-wrap
      input.contact-input.email(type="email", placeholder="email address", required)
    div.input-wrap
      input.contact-input.subject(type="text", placeholder="project type", required)
    div.input-wrap
      textarea.contact-input.message(placeholder="I'd like to work with you on...", required)
    div.input-wrap
      input.contact-input.submit(type="submit", value="Send")

block scripts