//- projects.jade
extend layout
block title
  h2.content-title
    div.content-title-first Projects

block content
  div.project-list
    div.project.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      span.project-img
        img(src="images/work-apollo.jpg")
      h2.project-title Apollo Partners
      button.project-btn.project-toggle(type="button") info
        i.fa.fa-plus
      a.project-btn(href="http://www.apollopartnersny.com/", target="_blank") visit
        i.fa.fa-external-link
      div.project.project-desc.hidden
        | Apollo Partners offers individual and group insurance plans for residents of New York state.  For this project, I designed and developed a custom Wordpress theme that highlights their services and allows users to "Get a Quote" easily and efficiently.  This website is mobile-first and was completed in August 2015.
      ul.project-tags
        li.tag Custom Wordpress Theme
        li.tag Wordpress Custom Fields
        li.tag PHP
        li.tag HTML5
        li.tag CSS3
        li.tag JQuery
        li.tag Fully Responsive
        li.tag Designed From Scratch
    div.project.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      span.project-img
        img(src="images/work-stugov.jpg")
      h2.project-title RPI Student Government
      button.project-btn.project-toggle(type="button") info
        i.fa.fa-plus
      a.project-btn(href="http://stugov.union.rpi.edu/", target="_blank") visit
        i.fa.fa-external-link
      div.project.project-desc.hidden
        | In March of 2015, the RPI Student Senate reached out to me, asking if I could help them redesign the outdated Student Government websites.  Formerly, each branch of the Student Government has their own separate website.  For this project, I worked with a Senate representative to make her wire-frames come to life so that each branch could be represented on the same overarching Student Government website.  I used Wordpress's Multisite feature so that each branch has their own unique website content and blog, while remaining visually consistent.
      ul.project-tags
        li.tag Custom Wordpress Theme
        li.tag Wordpress Custom Fields
        li.tag Wordpress Multisite
        li.tag PHP
        li.tag HTML5
        li.tag CSS3
        li.tag JQuery
        li.tag Mobile First
        li.tag Fully Responsive
        li.tag Designed From Scratch
    div.project.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      span.project-img
        img(src="images/work-shelby.jpg")
      h2.project-title Shelby Curran
      button.project-btn.project-toggle(type="button") info
        i.fa.fa-plus
      a.project-btn(href="http://shelbycurran.com/", target="_blank") visit
        i.fa.fa-external-link
      div.project.project-desc.hidden
        | This project is a portfolio and blog website for an aspiring writer and LGBTQ activist for religious inclusion.  Shelby is a college student who needed a website to highlight her published writings, blog musings, and creative work.  This mobile-first website was built using Bolt as the CMS, which allows Shelby to edit every feature of the website and add new content.  The website was completed in May 2015.
      ul.project-tags
        li.tag Bolt CMS
        li.tag Mobile First
        li.tag PHP
        li.tag HTML5
        li.tag Twig
        li.tag CSS3
        li.tag MySQL
        li.tag JQuery
        li.tag Fully Responsive
        li.tag Designed From Scratch
    div.project.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      span.project-img
        img(src="images/work-woven.jpg")
      h2.project-title The Woven Whim
      button.project-btn.project-toggle(type="button") info
        i.fa.fa-plus
      a.project-btn(href="http://www.thewovenwhim.com/", target="_blank") visit
        i.fa.fa-external-link
      div.project.project-desc.hidden
        | The Woven Whim is a lifestyle/travel blog written by a good friend of mine.  I worked with her in early 2015 to design a custom Wordpress theme, including a new logo and article signature.  The blog is fully integrated with all forms of social media so articles can be shared and "liked" by subscribers.  Photos and videos are highlighted throughout the website to enhance articles, so it was important that the website can handle high quality and high resolution images without creating a lag.  The website also features a 
        a(href="http://www.thewovenwhim.com/destinations/", target="_blank") Destinations
        |  page that includes an interactive travel map.
      ul.project-tags
        li.tag Custom Wordpress Theme
        li.tag Wordpress Custom Fields
        li.tag PHP
        li.tag HTML5
        li.tag CSS3
        li.tag JQuery
        li.tag Fully Responsive
        li.tag Blog Optimization
        li.tag Designed From Scratch
        li.tag Instagram API
    div.project.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      span.project-img
        img(src="images/work-aphi.jpg")
      h2.project-title RPI Alpha Phi
      button.project-btn.project-toggle(type="button") info
        i.fa.fa-plus
      a.project-btn(href="http://rpialphaphi.com/", target="_blank") visit
        i.fa.fa-external-link
      div.project.project-desc.hidden
        | As a member of Alpha Phi Fraternity at RPI, I got the opportunity to recreate the chapter's website over the summer of 2014. For the website, I worked with a fellow sister on the design and coded it myself completely from scratch. It was important to have a modern and college-friendly website that would attract potential new members and impress parents. The website uses Couch CMS so that anyone can edit the website without coding knowledge.
      ul.project-tags
        li.tag CouchCMS
        li.tag PHP
        li.tag HTML5
        li.tag CSS3
        li.tag JQuery
        li.tag Fully Responsive
        li.tag Twitter API
    div.project.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      span.project-img
        img(src="images/work-imby.jpg")
      h2.project-title Imby, Inc.
      button.project-btn.project-toggle(type="button") info
        i.fa.fa-plus
      a.project-btn(href="http://imby.com/", target="_blank") visit
        i.fa.fa-external-link
      div.project.project-desc.hidden
        | Imby is a highly customized Wordpress website, including heavily modified plug-ins and a custom theme. It is a local social network where users can do anything from post new events, create classifieds, and subscribe to user blogs. From October 2013 - December 2015, I worked on fixing various bugs and creating new features. I also managed their weekly Mailchimp campaign.
      ul.project-tags
        li.tag Custom Wordpress Theme
        li.tag Custom Wordpress Plugins
        li.tag Wordpress Multisite
        li.tag PHP
        li.tag HTML5
        li.tag CSS3
        li.tag JQuery
        li.tag MySQL
        li.tag Mailchimp
    div.project.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      span.project-img
        img(src="images/work-sacredheart.jpg")
      h2.project-title Sacred Heart School
      button.project-btn.project-toggle(type="button") info
        i.fa.fa-plus
      a.project-btn(href="http://www.sacredheartschooltroy.com/", target="_blank") visit
        i.fa.fa-external-link
      div.project.project-desc.hidden
        | Sacred Heart School is a Catholic school located in Troy, NY. They wanted a new website that would be solely for the school and separate from the parish's website. For this project, I designed a custom Wordpress theme so that many faculty members would be able to edit the website by adding news stories, creating calendar events, and updating information.  This website was completed in the summer of 2012.
      ul.project-tags
        li.tag Custom Wordpress Theme
        li.tag PHP
        li.tag HTML5
        li.tag CSS3
        li.tag JQuery
        li.tag Designed From Scratch
  div.hire-me.wow.zoomIn(data-wow-offset="50", data-wow-duration="1s")
    h3.hire-me-title Like what you see?
    a.hire-me-link(href="/hire") Hire Me

block scripts
  script(src='javascripts/projects.js')