//- skills.jade
extend layout
block title
  h2.content-title.one-line
    div.content-title-first Skills
block content
  div.skills-list
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name HTML5
      span.skill-level
        each i in new Array(10)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name CSS3
      span.skill-level
        each i in new Array(10)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Javascript
      span.skill-level
        span.skill-circle
        each i in new Array(9)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name JQuery
      span.skill-level
        span.skill-circle
        each i in new Array(9)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Stylus
      span.skill-level
        each i in new Array(10)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name SASS
      span.skill-level
        span.skill-circle
        each i in new Array(9)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Jade
      span.skill-level
        each i in new Array(10)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Node.js
      span.skill-level
        each i in new Array(2)
          span.skill-circle
        each i in new Array(8)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Express
      span.skill-level
        each i in new Array(3)
          span.skill-circle
        each i in new Array(7)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Backbone.js
      span.skill-level
        each i in new Array(3)
          span.skill-circle
        each i in new Array(7)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name AngularJS
      span.skill-level
        each i in new Array(3)
          span.skill-circle
        each i in new Array(7)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name PHP
      span.skill-level
        each i in new Array(10)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Database Design
      span.skill-level
        each i in new Array(2)
          span.skill-circle
        each i in new Array(8)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name MySQL
      span.skill-level
        each i in new Array(1)
          span.skill-circle
        each i in new Array(9)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name PostgreSQL
      span.skill-level
        each i in new Array(2)
          span.skill-circle
        each i in new Array(8)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name MS SQL Server
      span.skill-level
        each i in new Array(2)
          span.skill-circle
        each i in new Array(8)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name MongoDB
      span.skill-level
        each i in new Array(3)
          span.skill-circle
        each i in new Array(7)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name XML
      span.skill-level
        each i in new Array(10)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name JSON
      span.skill-level
        each i in new Array(10)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name AJAX
      span.skill-level
        each i in new Array(10)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Python
      span.skill-level
        each i in new Array(2)
          span.skill-circle
        each i in new Array(8)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name C++
      span.skill-level
        each i in new Array(4)
          span.skill-circle
        each i in new Array(6)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name C
      span.skill-level
        each i in new Array(5)
          span.skill-circle
        each i in new Array(5)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Java
      span.skill-level
        each i in new Array(4)
          span.skill-circle
        each i in new Array(6)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name ASP
      span.skill-level
        each i in new Array(6)
          span.skill-circle
        each i in new Array(4)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Ruby
      span.skill-level
        each i in new Array(4)
          span.skill-circle
        each i in new Array(6)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Linux
      span.skill-level
        each i in new Array(3)
          span.skill-circle
        each i in new Array(7)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Wordpress
      span.skill-level
        each i in new Array(2)
          span.skill-circle
        each i in new Array(8)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Drupal
      span.skill-level
        each i in new Array(3)
          span.skill-circle
        each i in new Array(7)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name CouchCMS
      span.skill-level
        each i in new Array(1)
          span.skill-circle
        each i in new Array(9)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Adobe Photoshop
      span.skill-level
        each i in new Array(1)
          span.skill-circle
        each i in new Array(9)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Adobe Illustrator
      span.skill-level
        each i in new Array(2)
          span.skill-circle
        each i in new Array(8)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Adobe InDesign
      span.skill-level
        each i in new Array(1)
          span.skill-circle
        each i in new Array(9)
          span.skill-circle.full
    div.skill.wow.fadeInUp(data-wow-offset="50", data-wow-duration="1s")
      h3.skill-name Adobe After Effects
      span.skill-level
        each i in new Array(3)
          span.skill-circle
        each i in new Array(7)
          span.skill-circle.full
        

block scripts