.header,
.content-title,
.content-title.one-line,
.content-body
  padding-left 40px
  padding-right 40px 
  
.content-title
  
  .content-title-first 
    font-size 56px
  
  .content-title-second 
    
    .content-title-second-text
      font-size 46px
      
    .content-title-and
      font-size 30px
      margin-right 10px
      margin-top 10px